   {% extends"template2.html" %}

    {% block title %}Profile{% endblock %}

{% block body %}
<br><br><br>
<br><br><br>
<div class="container-fluid">
  <div class="col-xs-11 col-xs-push-3">
    <div class="row vertical-align">
      <div class="col-xs-4">
        <a href="#1" title=""> 1)</a>
      </div>
    <div class="col-xs-4">
        <a href="#2" title=""> 2)</a>
    </div>
  </div>
  <br><br><br>

  <div class="row vertical-align">
      <div class="col-xs-4">
        <a href="#1" title=""> 3)</a>
      </div>
    <div class="col-xs-4">
        <a href="#2" title=""> 4)</a>
    </div>
  </div>
  <br><br><br>

  <div class="row vertical-align">
      <div class="col-xs-4">
        <a href="#1" title=""> 5)</a>
      </div>
    <div class="col-xs-4">
        <a href="#2" title=""> 6)</a>
    </div>
  </div>
</div>
</div>

	{% endblock %}

