   {% extends"template2.html" %}

    {% block title %}Profile{% endblock %}

{% block body %}
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Personal Profile </h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div >
		<h1 ><img class="img-responsive center-block" style="max-width:100px;"src="{{ url_for('static', filename='images/avatar.png') }}"></h1>
						</div>

						<div class="row">
        			<div class="col-md-3">
							<label for="email" class="cols-sm-2 control-label">Name:</label></div>
							<div class="col-md-9">
				<input type="text" class="form-control" name="name" id="name"  placeholder="Edit your Name"/>
							</div></div>

						<div class="row">
        			<div class="col-md-3">
							<label for="email" class="cols-sm-2 control-label">Surname:</label></div>
							<div class="col-md-9">
				<input type="text" class="form-control" name="name" id="name"  placeholder="Edit your Surname"/>
							</div></div>

					<div class="row">
        			<div class="col-md-3">
							<label for="email" class="cols-sm-2 control-label">Age:</label></div>
							<div class="col-md-9">
				<input type="text" class="form-control" name="name" id="name"  placeholder="Edit your Age"/>
							</div></div>

						 <div class="row">
        			<div class="col-md-3">
							<label for="email" class="cols-sm-2 control-label">Country:</label></div>
							<div class="col-md-9">
				<input type="text" class="form-control" name="name" id="name"  placeholder="Edit your Country"/>
							</div></div>

						<div class="row">
        			<div class="col-md-3">
							<label for="email" class="cols-sm-2 control-label">City:</label></div>
							<div class="col-md-9">
				<input type="text" class="form-control" name="name" id="name"  placeholder="Edit your City"/>
							</div></div>

				<div class="row">
        			<div class="col-md-3">
							<label for="email" class="cols-sm-2 control-label">Gender:</label></div>
							<div class="col-md-9">
				<input type="text" class="form-control" name="name" id="name"  placeholder="Edit your Gender"/>
							</div></div>

						<div class="form-group ">
							<a href="{{url_for('profile_page')}}" type="button" class="btn btn-primary btn-lg btn-block login-button btn-success">Save</a>
							<a href="{{url_for('profile_page')}}" type="button" class="btn btn-primary btn-lg btn-block login-button btn-warning">Cancel</a>
							<br><p class="text-muted">Hint: you can edit only one information also.</p>
						</div>

					</form>
				</div>
			</div>
			</div>
	{% endblock %}

