   {% extends"template2.html" %}

    {% block title %}Profile{% endblock %}

{% block body %}
		<div class="container">
			<div class="row main">
			<div class="col-md-4" >
				<div style="margin: 10px 10px 60px 10px">
				
					<h1 align="center">Add/Remove a friend</h1>
					<p align="center">you can add or remove a friend to your profile!</p>
					<form action="" method="post">
					<div class="form-group" align="center">
		    			<input type="text" name="friend" placeholder="username of your friend.." class="form-control" required autofocus>
		    		</div>
					<button class=" pull-right btn btn-success btn"
						type="submit" name="action" value="add">add</button>
							<button class=" pull-right btn btn-danger btn"
						type="submit" name="action" value="remove">remove</button>
						{% if friends %}
          	{% for f in friends %}
          	{% if user.userName==f[0] %}
	         		<li>{{f[1]}}</li>
	       			{% endif %}
					{% endfor %}
					{% endif %}</form>				
				</div>
			</div></div></div>
			
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Personal Profile </h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="get" action="#">

						<div >
		<h1 ><img class="img-responsive center-block" style="max-width:100px;"src="{{ url_for('static', filename='images/avatar.png') }}"></h1>

						</div>

						 <div class="row">
        			<div class="col-md-5">
							<label class="cols-sm-2 control-label">Name:</label>
							</div>
							        <div class="col-md-5">
			{% if info %}
          	{% for inf in info %}
          	{% if user.userName == inf[1] %}
			<p>{{ inf[0] }}</p>
			{% endif %}
			{% endfor %}
			{% endif %}
							</div>
						</div>

						 <div class="row">
        			<div class="col-md-5">
							<label  class="cols-sm-2 control-label">Surname:</label>
							</div>
							        <div class="col-md-5">

			{% if details %}
          	{% for d in details %}
          	{% if user.userName == d[0] %}
			<p>{{ d[1] }}</p>
			{% endif %}
			{% endfor %}
			{% endif %}
							</div>
						</div> <div class="row">
        			<div class="col-md-5">
							<label  class="cols-sm-2 control-label">Age:</label>
							</div>
							        <div class="col-md-5">
			{% if details %}
          	{% for d in details %}
          	{% if user.userName == d[0] %}
			<p>{{ d[2] }}</p>
			{% endif %}
			{% endfor %}
			{% endif %}
							</div>
						</div> <div class="row">
        			<div class="col-md-5">
							<label  class="cols-sm-2 control-label">Country:</label>
							</div>
							        <div class="col-md-5">
			{% if details %}
          	{% for d in details %}
          	{% if user.userName == d[0] %}
							 <p>{{ d[3] }}</p>
			{% endif %}
			{% endfor %}
			{% endif %}
							</div>
						</div>
						<div class="row">
        			<div class="col-md-5">
							<label  class="cols-sm-2 control-label">City:</label>
							</div>
							        <div class="col-md-5">

			{% if details %}
          	{% for d in details %}
          	{% if user.userName == d[0] %}
			<p>{{ d[4] }}</p>
			{% endif %}
			{% endfor %}
			{% endif %}
				</div>
						</div>
					<div class="row">
        			<div class="col-md-5">
							<label  class="cols-sm-2 control-label">Gender:</label>
							</div>
							        <div class="col-md-5">

			{% if details %}
          	{% for d in details %}
          	{% if user.userName == d[0] %}
			<p>{{ d[5] }}</p>
			{% endif %}
			{% endfor %}
			{% endif %}
							</div>
						</div>

						<div class="form-group ">
							<a href="{{url_for('edit_profile_page')}}" type="button" 
							class="btn btn-primary btn-lg btn-block login-button btn-warning">Edit</a>
						</div>

					</form>
				</div>
			</div>
			</div>
	{% endblock %}

