
{% extends"template.html" %}

{% block title %}Sign up{% endblock %}

 {% block body %}
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">New User <img style="max-width:40px;"src="{{ url_for('static', filename='images/icon3.png') }}"></h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="inputNameSurname" placeholder="Enter your Name"required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="inputEmail" placeholder="Enter your Email"required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="inputUsername" placeholder="Enter your Username"required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="inputPassword" placeholder="Enter your Password"required>
								</div>
							</div>
						</div>

						<div class="form-group ">
						<button class="btn btn-lg btn-primary btn-block btn-warning" type="submit">Register</button>
						</div>
        <br><p class="text-muted">Hint: If you already have an account click <a href="{{url_for('signin_page' )}}">Here!</a></p>

					</form>
				</div>
			</div>
		</div>
	{% endblock %}
